<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/77024fa835.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../Assets/css/normalize.css" />
<link rel="stylesheet" href="../Assets/css/Proyecto.css">

  <title>ForjaEmpresa</title>

</head>
<section id="dashboard2">
  <article class="menu_2">
    <img src="/Assets/imagenes/0. logoforja.png" alt="logo forja">
    <ul class="ul">
      <li class="item2"><a href="Paciente.html"><i class="fa-solid fa-users"></i><br> Pacientes</a></li><br>
      <li class="item2"><a href="Pacientes.html"><i class="fa-solid fa-syringe"></i><br> Vacunación</a></li><br>
      <li class="item2"><a href="Login.html"><i class="fa-solid fa-power-off"></i><br> Cerrar sesión</a></li>
    </ul>
  </article>

  <article class="contenido">
      <div class="bienvenidos">
        <button class="carol"><i class="fa-solid fa-circle-user" style="color:#FFFFFF;"></i> Carolina Loaiza</button>
        <h1>BIENVENIDOS</h1>
        <input class="dashboar-input" type="text" placeholder=" Digite el número de documento">
        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button class="rotate"><i class="fa-solid fa-arrow-rotate-right"></i> </button>
      </div>
      <div class="franja_1">
        <img src="/Assets/imagenes/12. franja.svg" alt="franja">
      </div>
  </article>
</section>

</body>
</html>